# to setup development shell and environment using nix-direnv
# run "direnv allow" and it will consume shell.nix when you cd in this directory
use nix shell.nix

# TODO: use Nix flake in the future
#use flake
